.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
}

.login-card{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    shape-outside: content-box;   
}

.card-parent {
    width: 45%;
}

.card-content {
    padding: 20px;
}