.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
}

.centerAlign{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    shape-outside: content-box;   
}

.card {
    width: 45%;
}

.cardContent {
    padding: 20px;
}