.app-header {
  height: 70px;
  padding: 0px 20px;
  background-color: #263238;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-logo {
  color: #fff;
  font-size: 18px;
  padding-left: 10px;
}

.profile-icon{
  width: 60px;
}